.full-item {

    // .full-item__wrapper

    &__wrapper {
    }

    // .full-item__header

    &__header {
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    // .full-item__title

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #1E1E1E;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    // .full-item__compare

    &__compare {   
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        .short-item__add-link {
            margin-bottom: 0;
            margin-right: 20px;
        }
        @media screen and (max-width: 768px) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    // .full-item__add-compare

    &__add-compare {
        font-size: 16px;
        line-height: 16px;
        color: #404040;
        text-decoration: none;
        cursor: pointer;
        position: relative;        
    }

    // .full-item__code-item

    &__code-item {
        margin-left: 40px;
        font-size: 16px;
        line-height: 16px;
        color: #404040;
    }

    // .full-item__info

    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 17px 0 20px 0;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (max-width: 576px) {
            flex-direction: row;
        }
    }

    // .full-item__info-a

    &__info-a {
        flex: 0 0 auto;
        span {
            margin-right: 21px;
        }
        @media screen and (max-width: 576px) {
            order: 3;
            margin-bottom: 10px;
        }
    }

    // .full-item__info-b

    &__info-b {
        flex: 0 0 auto;
        display: flex;
        @media screen and (max-width: 768px) {
            margin-top: 10px;
        }
        @media screen and (max-width: 576px) {
            margin-right: 15px;
            margin-bottom: 10px;
            order: 1;
        }
    }

    // .full-item__info-c

    &__info-c {        
        margin-left: 49px; 
        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: 10px;
        }    
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &__info-d {        
        margin-left: 49px; 
        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: 10px;
        }    
        @media screen and (max-width: 576px) {
            margin-bottom: 10px;
            margin-right: 15px;
            order: 2;
        }  
    }

    // .full-item__in-stock

    &__in-stock {
        position: relative;
        display: block;
        padding-left: 20px;
        &::before {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 4px;
            z-index: 1;
            background-image: url('../img/in-stock-icon.svg');
            background-position: left top;
            background-repeat: no-repeat;
        }
    }

    // .full-item__content

    &__content {
        display: flex;
        margin-bottom: 70px;
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 991px) {
            flex-direction: column;
        }
    }

    // .full-item__slider

    &__slider {
        width: 464px;
        min-width: 464px;
        flex: 0 0 auto;
        display: flex;
        @media screen and (max-width: 1200px) {
            order: 1;
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            min-width: 100%;
            margin-bottom: 20px;
        }
    }

    // .full-item__slider-mini

    &__slider-mini {
        width: 112px;
        height: 555px;
        position: relative;
        padding: 22px 0;
        @media screen and (max-width: 768px) {
            display: none;
        }
        .slick-slide {
            border: 0px solid #999999;
            border-radius: 5px;
            padding: 14px;
            width: 112px;
            max-width: 112px;
        }
        .slick-current {
            border: 1px solid #999999;
        }
        .slick-arrow {  
            display: block;
            position: absolute;  
            left: 50%;   
            background-color: transparent; 
            background-repeat: no-repeat;
            background-position: center;  
            background-image: url('../img/item-arrow-up.svg');
            width: 15px;
            height: 6px;
            border: none;
            overflow: hidden;
            text-indent: -500px;
            cursor: pointer;
        }
        .slick-prev {
            top: 0;
            transform: translateX(-50%);
        }
        .slick-next {
            bottom: 0;
            transform: translateX(-50%) rotate(180deg);
        }
    }

    // .full-item__sider-mini-item

    &__sider-mini-item {
        width: 100%;
        img {
            display: block;
            width: auto;
            max-height: 100px;
            margin: 0 auto;   
        }
    }

    // .full-item__slider-full

    &__slider-full {
        width: 340px;
        @media screen and (max-width: 991px) {
            width: 100%;
        }
        .slick-dots {
            display: none;
            list-style: none;
            align-items: center;
            padding: 10px 0 20px 0;
            justify-content: center;
            @media screen and (max-width: 768px) {
                display: flex;
            }
            li {
                padding: 0 5px;
            }
            li button {
                display: block;
                width: 10px;
                height: 10px;
                overflow: hidden;
                text-indent: -500px;
                background-color: #fff;
                cursor: pointer;
                border: 2px solid #FC443B;
                border-radius: 50%;
            }
            li.slick-active button {
                background-color: #FC443B;
            }
        }
    }

    // .full-item__sider-full-item

    &__sider-full-item {
        img {
            display: block;
            width: auto;
            height: auto;
            max-height: 700px;
            margin: 0 auto;
            @media screen and (max-width: 768px) {
                max-width: 250px;
            }
            @media screen and (max-width: 576px) {
                max-width: 200px;
            }
        }
    }

    // .full-item__description

    &__description {
        flex: 1 0 auto;
        padding: 20px;
        width: 100%;
        max-width: 440px;
        @media screen and (max-width: 1200px) {
            order: 3;
        }
        @media screen and (max-width: 991px) {
            max-width: 100%;
            padding: 0 0 20px 0;
        }
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    // .full-item__table

    &__table {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        font-size: 14px;
        line-height: 30px;
        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }

    // .full-item__table-title

    &__table-title {
        display: block;
        width: 100%;
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1E1E1E;
    }

    // .full-item__table-name

    &__table-name {
        width: 49%;
        color: #6E6E6E;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 9px;
            z-index: -1;
            border-bottom: 2px dotted #6E6E6E;
        }
        span {
            display: inline;
            padding-right: 5px;
            background-color: #fff;
        }
    }

    // .full-item__table-param

    &__table-param {
        width: 51%;
        color: #1E1E1E;
        padding-left: 5px;
    }

    // .full-item__all-char

    &__all-char {
        padding-top: 15px;
        padding-bottom: 21px;
    }

    // .full-item__all-char-link

    &__all-char-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #437FC8;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    // .full-item__payment-method

    &__payment-method {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #404040;
        padding-top: 21px;
        b {
            font-weight: 500;
        }
    }

    // .full-item__item-brand

    &__item-brand {
        margin-top: 37px;
    }

    // .full-item__item-brand-link

    &__item-brand-link {
    }

    // .full-item__item-brand-img

    &__item-brand-img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100px;  
        max-height: 75px;
    }

    // .full-item__price

    &__price {
        flex: 1 1 auto;
        @media screen and (max-width: 1200px) {
            order: 2;
        }
        @media screen and (max-width: 1100px) {
            max-width: 350px;
        }        
        @media screen and (max-width: 991px) {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }
    }

    // .full-item__price-wrapper

    &__price-wrapper {
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 40px 38px;
        display: flex;
        flex-direction: column;
        margin-bottom: 21px;
    }

    // .full-item__cost

    &__cost {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
    }

    // .full-item__price-new

    &__price-new {
        font-weight: 500;
        font-size: 40px;
        line-height: 25px;
        color: #404040;
        margin-bottom: 26px;
    }

    // .full-item__price-old

    &__price-old {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #6E6E6E;
        margin-left: 30px;
        margin-bottom: 26px;
        @media screen and (max-width: 576px) {
            margin-left: 0;
        }
    }

    // .full-item__buy

    &__buy {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
    }

    // .full-item__buy-click

    &__buy-click {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        text-decoration-line: underline;
        color: #437FC8;
        margin-right: 11px;
        margin-bottom: 10px;
        @media screen and (max-width: 991px) {
            flex: 0 0 auto;
            margin-right: 40px;
        }
        @media screen and (max-width: 576px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    // .full-item__add-to-cart-buy

    &__add-to-cart-buy {
        background-color: #437FC8;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        padding: 11px 19px;
        text-decoration: none;
        border: 2px solid #437FC8;
        margin-bottom: 10px;
        &:hover {
            background-color: #FFFFFF;
            color: #437FC8;
            border: 2px solid #437FC8;
            transition: all .7s;
        }
        @media screen and (max-width: 576px) {
            font-size: 14px;
        }
    }

    // .full-item__delivery-info

    &__delivery-info {
    }

    // .full-item__di-item

    &__di-item {
        margin-top: 23px;
    }

    // .full-item__di-title

    &__di-title {
        position: relative;
        padding-left: 24px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #1A467C;
        display: inline-block;
        padding-right: 25px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 20px;
            height: 23px;
            z-index: 1;
            background-position: left top;
            background-repeat: no-repeat;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            width: 10px;
            height: 8px;
            z-index: 1;
            background-position: left top;
            background-repeat: no-repeat;
            background-image: url('../img/di-show.svg');
            transform: rotate(180deg);
            transition: all .7s;
        }
    }
    &__di-title.di-active {
        &::after {
            transform: rotate(0deg);
        }
    }

    // .full-item__di-title-garanty

    &__di-title-garanty {
        &::before {            
            background-image: url('../img/garanty.svg');
        }
    }

    // .full-item__di-text

    &__di-text {
        font-size: 15px;
        line-height: 25px;
        color: #404040;
        a {
            color: #437FC8;
            text-decoration-line: underline;
        }
        label {
            display: block;
            padding: 0 0 6px 0px;
        }
    }

    // .full-item__garanty-form

    &____garanty-form {
        padding: 0 0 6px 28px;
    }

    // .full-item__di-link

    &__di-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
        a {
            color: #437FC8;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .full-item__di-title-delivery

    &__di-title-delivery {
        &::before {            
            background-image: url('../img/delivery.svg');
        }
    }

    // .full-item__di-title-util

    &__di-title-util {
        &::before {            
            background-image: url('../img/util.svg');
        }
    }

    // .full-item__present

    &__present {
        margin-bottom: 90px;
    }

    // .full-item__present-title

    &__present-title {
    }

    // .full-item__present-wrapper

    &__present-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 58px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
        .short-item__item {
            border-top: none;
        }
    }

    // .full-item__more-buy

    &__more-buy {
        margin-bottom: 90px;
    }

    // .full-item__more-buy-title

    &__more-buy-title {
    }

    // .full-item__more-buy-wrapper

    &__more-buy-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 58px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
        .short-item__item {
            border-top: none;
        }
    }

    // .full-item__recommendation-title

    &__recommendation-title {
    }

    // .full-item__recommendation-wrapper

    &__recommendation-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 58px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
        .short-item__item {
            border-top: none;
        }
    }

    // .full-item__tabs

    &__tabs {
        margin-bottom: 70px;
        .full-item__table{
            margin-bottom: 35px;
            width: 50%;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
        }
    }

    // .full-item__tabs-table

    &__tabs-table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 800px;
        @media screen and (max-width: 991px) {
            max-height: 100%;
        }
    }

    // .full-item__tabs-nav

    &__tabs-nav {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #E5E5E5;
        padding: 5px 0 10px 0;
        margin-bottom: 27px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        li {
            margin-right: 25px;
            @media screen and (max-width: 768px) {
                margin-bottom: 15px;
            }
        }
        li.ui-tabs-active {
            position: relative;            
            &::before {
                content: '';
                width: 100%;
                height: 1px;                
                background-color: #FC443B;
                position: absolute;
                left: 0;
                bottom: -11px;
                z-index: 2;
            }
        }
    }

    // .full-item__tabs-nav-item

    &__tabs-nav-item {
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        a {
            font-size: 20px;
            line-height: 35px;
            color: #404040;
            text-decoration: none;
            padding-bottom: 9px;
        }
        &.ui-tabs-active a {
            font-size: 30px;
            color: #1E1E1E;
        }
    }

    // .full-item__reviews

    &__reviews {
        margin-bottom: 70px;
    }

    // .full-item__reviews-title

    &__reviews-title {
    }

    // .full-item__reviews-wrapper

    &__reviews-wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    // .full-item__reviews-left

    &__reviews-left {
        flex: 1 1 auto;
        width: 100%;
        max-width: 854px;
        margin-right: 20px;
    }

    // .full-item__reviews-item

    &__reviews-item {
        display: flex;
        margin-bottom: 50px;
    }

    // .full-item__reviews-img

    &__reviews-img {
        width: 51px;
        height: 51px;
        flex: 0 0 auto;
        background-color: #F6F6F6;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
        color: #E5E5E5;
        margin-right: 13px;
        img {
            display: block;
            width: 51px;
            height: 51px;
            object-fit: cover;
        }
    }

    // .full-item__reviews-content

    &__reviews-content {
    }

    // .full-item__reviews-header

    &__reviews-header {
        display: flex;
        margin-bottom: 15px;
    }

    // .full-item__reviews-user-info

    &__reviews-user-info {
        flex: 1 1 auto;
    }

    // .full-item__reviews-user-name

    &__reviews-user-name {
        font-size: 18px;
        line-height: 25px;
        color: #353535;
    }

    // .full-item__reviews-user-date

    &__reviews-user-date {
        font-size: 12px;
        line-height: 25px;
        color: #9F9F9F;
    }

    // .full-item__reviews-user-grade

    &__reviews-user-grade {
    }

    // .full-item__reviews-text

    &__reviews-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #353535;
        p {
            margin-bottom: 15px;
        }
    }

    // .full-item__reviews-more

    &__reviews-more {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        &:hover {
            text-decoration: underline;
        }
    }

    // .full-item__reviews-link

    &__reviews-link {
        color: #437FC8;
        text-decoration: none;
    }

    // .full-item__reviews-right

    &__reviews-right {
        flex: 0 0 auto;
        width: 352px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    // .full-item__reviews-info

    &__reviews-info {
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        padding: 40px 35px 57px 40px;
        @media screen and (max-width: 576px) {
            padding: 20px 15px 20px 25px;
        }
    }

    // .full-item__reviews-info-head

    &__reviews-info-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    // .full-item__reviews-total-rate

    &__reviews-total-rate {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #353535;
    }

    // .full-item__reviews-total-star

    &__reviews-total-star {
        display: flex;
        img {
            margin: 0 0 0 5px;
            flex: 0 0 auto;
            width: 23px;
            height: 23px;
        }
    }

    // .full-item__reviews-info-content

    &__reviews-info-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }

    // .full-item__reviews-rate

    &__reviews-rate {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    // .full-item__reviews-rate-name

    &__reviews-rate-name {
        flex: 0 0 auto;
        font-size: 14px;
        line-height: 18px;
        color: #353535;
        min-width: 80px;
    }

    // .full-item__reviews-rate-progress

    &__reviews-rate-progress {
        flex: 1 1 auto;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #E5E5E5;
    }

    // .full-item__reviewws-rate-progress-active

    &__reviewws-rate-progress-active {
        height: 2px;
        background-color: #FFA800;
        left: 0;
        top: 0;
        z-index: 1;
    }

    // .full-item__reviews-rate-num

    &__reviews-rate-num {
        flex: 0 0 auto;
        font-size: 14px;
        line-height: 18px;
        color: #353535;
        text-align: right;
        min-width: 100px;
        a {
            color: #353535;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .full-item__reviews-rate-num-link

    &__reviews-rate-num-link {
        color: #353535;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    // .full-item__reviews-info-button

    &__reviews-info-button {
    }

    // .full-item__reviews-info-button-link

    &__reviews-info-button-link {
        display: block;
        width: 100%;
        border: 2px solid #FD433C;
        border-radius: 5px;
        background-color: #FD433C;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        text-align: center;
        padding: 12px 15px;
        cursor: pointer;
        &:hover {
            background-color: #ffffff;
            color: #FD433C;
            transition: all .7s;
        }
    }
}