.index-start {
    margin-top: 85px;

    // .index-start__wrapper

    &__wrapper {
        padding-bottom: 20px;
    }

    // .index-start__title

    &__title {
        
    }

    p {
        margin-top: 20px;
    }
}