.catalog-list {
    margin-top: 100px;

    // .catalog-list__main-title

    &__main-title {
        margin-bottom: 19px;
    }

    // .catalog-list__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .catalog-list__item

    &__item {
    }

    // .catalog-list__category-title

    &__category-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1E1E1E;   
        display: block;
        margin-bottom: 10px;     
    }

    // .catalog-list__category-nav

    &__category-nav {       
        list-style: none;        
    }

    // .catalog-list__category-item

    &__category-item {
        font-size: 15px;
        line-height: 30px;
        color: #404040;
    }

    // .catalog-list__category-link

    &__category-link {
        color: #1E1E1E;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            transition: all 0.5s;
        }
    }

    // .catalog-list__category-all

    &__category-all {
        display: inline-block;
        margin-top: 11px;
        padding: 0 41px 0 0;
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #437FC8;
        &:hover {
            text-decoration: underline;
            transition: all 0.5s;
        }
        &::after {
            content: '';
            width: 31px;
            height: 9px;
            position: absolute;
            right: 0;
            top: 10px;         
            z-index: 1;   
            background-image: url('../img/all-category-link-arrow.svg');
            background-position: canter;
            background-repeat: no-repeat;
        }
    }
}