.install-page {

    // .install-page__title

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #1E1E1E;
        margin-bottom: 20px;
    }

    // .install-page__wrapper

    &__wrapper {
        p {
            margin-bottom: 20px;
        }
    }
}