.news-list {

    margin-bottom: 50px;

    // .news-list__title

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #1E1E1E;
        margin-bottom: 34px;
    }

    // .news-list__wrapper

    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 50px;
        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .news-list__img

    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 248px;
        border-radius: 5px;
    }

    // .news-list__item-title

    &__item-title {
        padding: 10px 0 10px 0;
    }

    // .news-list__text

    &__text {
        font-size: 15px;
        line-height: 20px;
        color: #404040;
    }

    // .news-list__link

    &__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #404040;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}