.popup-form {

    // .popup-form__title

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #1E1E1E;
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }

    // .popup-form__text-center

    &__text-center {
        text-align: center;
    }

    // .popup-form__item

    &__item {        
        margin-bottom: 15px;
    }

    // .popup-form__label

    &__label {
        display: block;
        font-size: 14px;
        line-height: 35px;
        color: #999999;
        padding-left: 15px;
    }

    // .popup-form__input

    &__input {
        display: block;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 15px;
        outline: none;
        &::placeholder {
            color: #999999;
        }
    }

    // .popup-form__mask-phone-number

    &__mask-phone-number {
    }

    // .popup-form__btn

    &__btn {
        display: inline-block;
        border: 2px solid #437fc8;
        background-color: #437fc8;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        text-decoration: none;
        padding: 10px 30px;
        min-width: 225px;
        margin-top: 25px;
        &:hover {
            background-color: #fff;
            color: #437fc8;
            transition: all .7s;
        }
    }

    // .popup-form__submit

    &__submit {
        display: inline-block;
        border: 2px solid #437fc8;
        background-color: #437fc8;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        text-decoration: none;
        padding: 10px 30px;
        text-align: center;
        min-width: 225px;
        margin-top: 25px;
        &:hover {
            background-color: #fff;
            color: #437fc8;
            transition: all .7s;
        }
    }

    // .popup-form__input-sms-wrapper
    
    &__input-sms-wrapper {
        display: flex;
        align-items: center;
        width: 183px;
        justify-content: center;
        border: 1px solid #E5E5E5;
        padding: 10px;
        border-radius: 5px;
    }

    // .popup-form__input-sms

    &__input-password {
        display: block;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 15px;
        outline: none;
        color: #999999;
        font-weight: 500; 
        &::placeholder {
            color: #999999;
        }
    }
}
