.short-item {

    // .short-item__item

    &__item {
        border-top: 1px solid #E5E5E5;
    }

    // .short-item__img-link

    &__img-link {
    }

    // .short-item__lt-info

    &__lt-info {
    }

    // .short-item__new

    &__new {
    }

    // .short-item__present

    &__present {
    }

    // .short-item__lb-info

    &__lb-info {
    }

    // .short-item__discount

    &__discount {
    }

    // .short-item__img

    &__img {
        display: block;
        width: auto;
        height: auto;
        max-height: 300px;
    }

    // .short-item__price

    &__price {
    }

    // .short-item__price-new

    &__price-new {
    }

    // .short-item__price-old

    &__price-old {
    }

    // .short-item__item-title

    &__item-title {
    }

    // .short-item__item-link

    &__item-link {
    }

    // .short-item__item-info

    &__item-info {
    }

    // .short-item__item-rating

    &__item-rating {
    }

    // .short-item__item-comment

    &__item-comment {
    }

    // .short-item__comment-link

    &__comment-link {
    }

    // .short-item__add-cart

    &__add-cart {
    }

    // .short-item__add-cart-disable

    &__add-cart-disable {
    }

    // .short-item__wrapper

    &__wrapper {
    }
}