@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #1E1E1E;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.h3-title {
    display: block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    padding-bottom: 7px;
    color: #1E1E1E;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 33px;
}

.arrow-top-page {
    display: none;
    display: block;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 1000;
    width: 76px;
    height: 76px;
    transform: ease .3s;
    background-image: url('../img/arrow-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 14px;
    background-color: #E5E5E5;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
    @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 15px;
        background-size: 17px 7px;
    }
}

.search-popup-bg {
    position: relative;
    background: #ffffff;
    padding: 23px 34px;
    width: auto;
    max-width: 1400px;
    margin: 60px auto 0 auto;
    border-radius: 5px;
    @media screen and (max-width: 768px) {
       padding: 15px 15px;
    }
}

.white-popup {
    position: relative;
    background: #ffffff;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 5px;
}

.fast-view-popup-bg {
    position: relative;
    background: #ffffff;
    padding: 36px 40px 50px 40px;
    width: auto;
    max-width: 950px;
    margin: 20px auto;
    border-radius: 5px;
}

.super-z-index {
    z-index: 2900!important;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

@import "magnific-popup";
@import "slick";
@import "header";
@import "index-slider";
@import "breadcrumbs";
@import "category-page";
@import "category-filter";
@import "category-items";
@import "full-item";
@import "add-reviews";
@import "cart";
@import "compare";
@import "content";
@import "complaint";
@import "install";
@import "excellence";
@import "work-price";
@import "contacts";
@import "news-list";
@import "news-stat";
@import "user-menu";
@import "user-order-list";
@import "user-later-list";
@import "my-reviews-list";
@import "user-edit-profile";
@import "page-navi";
@import "short-item";
@import "index-catalog__item";
@import "index-catalog__list";
@import "index-news";
@import "index-start";
@import "footer-icons";
@import "footer";
@import "navi-category";
@import "el-category-filter";
@import "el-header-user-menu";
@import "el-header-cart";
@import "change-city-popup";
@import "popup-form";
@import "popup-fast-view";
@import "popup-search";